@import "~@blueprintjs/core/dist/blueprint.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root,
#root > div {
  height: 100%;
}

.container {
  overflow-x: hidden;
  justify-content: center;
  height: calc(100% - 50px);
  display: flex;
  flex-flow: row wrap;
}

.container > div.box {
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex: 0 1 calc(50% - 20px);
  min-height: 200px;
  min-width: 200px;
  height: calc(100% - 45px);
  flex-direction: column;
}

.container > div.box > div.widget-spinner {
  position: absolute;
  display: none;
  align-self: center;
  top: calc(50% - 50px);
}

.container > div.box > div.widget-header {
  visibility: hidden;
  display: flex;
  margin: 5px;
  height: 25px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.container > div.box > div.widget-body {
  visibility: hidden;
  height: calc(100% - 25px);
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.container > div.box > div.widget-body > div.chart {
  visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
